*,html,body{
    margin:0;
    padding:0;
}
body{
    background-image: linear-gradient(to right,#337ff9,#ee63e5);
}
.containernavbar{
    position:fixed;
    width: 100%;
}
.wrapeer{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color:rgb(100, 3, 170);
    height:50px;

}
.brand{
    display:flex;
    font-size:1.5em;
    padding:10px;
}
.firstname > a{
    font-weight:700;
    color:white;
    text-transform:capitalize;
    text-decoration:none;
}
.lastname{
    font-weight:700;
    color:#00bfff;
    padding-left:4px;
}
.navigation{
    display:flex;
    list-style-type:none;
    padding:10px;
    margin-top:5px;
    font-weight:30px;
}
.navigation > li > a{
    text-decoration:none;
    font-size:20px;
    color:white;
    text-transform:capitalize;
    padding:10px;
    margin-right:10px;
}
.navigation > li:hover{
    background-color:#001298;
}
.subDesinasi{
    display:none;
}
.subDesinasi:hover{
    background-color:#001298;
}
/* .subDesinasi:hover > .subDesinasi{
    display:block;
    position:absolute;
    background-color:yellow;
} */
.navigation > li > input , button{
    padding: 4px;;
    justify-content: center;
    align-items: center;
    margin-top:0;
}
.konten1{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:1px;
}
.welcome{
    background-color:rgba(148, 30, 53, 0.079);
}
.boxkonten{
    display:flex;
    width: 100%;
    height:50%;
    justify-content: space-evenly;
}
.box1 , .box2{
    display:flex;
    justify-content: space-between;
    color:white;
    padding:0px
}
.boxkonten > .box1{
    display:flex;
    flex-direction: column;
    width:30%;
    height:30%;
    font-size: 20;
}
.boxkonten > .box2{
    display:flex;
    flex-direction: column;
    width:30%;
    height:30%;
    font-size: 20;
}
.boxinline{
    display:flex;
    justify-content: space-between;
    color:white;
    margin: 10px;
    padding:0px
    
}
.boxkonten4 > .boxinline{
    display:flex;
    flex-direction: column;
    width:20%;
    height:20%;
    font-size: 20;
}
.boxkonten4{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:1px;
}
.whyus{
    width: 100%;
    height: 500px;
    background-color: rgba(4, 131, 59, 0.707);
}
.tentangkami{
    width: 100%;
    height: 300px;
    background-color: #337ff9;
}

/* samsung s8 */
@media(min-width: 100px) and (max-width: 740px){
  *,html,body{
    margin:0;
    padding:0;
}
body{
    background-image: linear-gradient(to right,#337ff9,#63d4ee);
}
.konten1{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:1px;
    width: 100vh;
    height:100vh;
}
}